@import url('../base.css');

.avatar{
    background-color: var(--primary);
}
.cards{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(min(30rem,100%),1fr));
    justify-content: center;
    align-items: center;
}
.cards>*{
    border-radius: .8rem;
    box-shadow: 0px 2px 4px #aabb;
    background-color: #aabb;
    padding: .5rem;
}
.avatar__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.avatar__card__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar__card__img>img{
    border-radius: 50%;
    width: 50%;
    aspect-ratio: 16/16;

}
.avatar__items>h2{
    text-align: center;
    margin-bottom: 2.5rem;
}


@media screen and (min-width:50rem) {
    .avatar__card{
        flex-direction: row;
        justify-content: space-between;
    }

    .avatar__card__img>img{
        border-radius: 50%;
        width: 80%;
        
    
    }
}

@media screen and (max-width:60.3rem) {

    .cards{
        
        grid-template-columns: repeat(auto-fit,minmax(min(20.5rem,100%),1fr));
        
    }
    
}